# Day 1
 * Installing Working Environment
     * Git
     * Jupyter Notebook via Anconda
 * Basic Jupyter Notebook
      * Opening Jupyter Notebook
      * Adding Cells
      * Deleating Cells
      * Merging Cells
      * Markdown Cell
      * Commenting
 * Data Types
     * Numbers
     * Strings
     * Variable Assignment
     * Printing
     * Strings methods
     * Lists
     * Dictionaries
     * Boolians
     * Tuples
     * Sets
 * Bsic Operations
     * Comparison Operators
     * if, elif, else ststements
     * for loops
     * while loops
     * range()
     * list comprehension
     * functions
     * lambda expressions
     * map and filter

# Data Types

## Numbers

In [ ]:
# Adding numbers
1+3

In [ ]:
# Multiplying numbers
2*3

In [ ]:
(1+5)*(3+2)

In [ ]:
# Exponentiation
3**2

In [ ]:
# Modulus
10%2

In [ ]:
# Modulus
21%4

In [ ]:
# Division
25/4

In [ ]:
# Integer Division
25//4

In [ ]:
### Floating-Point Numbers
3.14

In [ ]:
type(3.14)

In [ ]:
type(2.0)

In [ ]:
type(2)

## Strings
#### Stings are sequences of alpha charater data. String in Python are calles str. The String should be between single or double quotations

In [ ]:
"It's a string"

In [ ]:
type("It's a string")

In [ ]:
type('a')

In [ ]:
type('')

In [ ]:
type('single quates')

In [ ]:
type("double quates")

## Variable Assignment
### Variable cannot start with number or special characters

In [ ]:
name = 'Moussa'

In [ ]:
type(name)

In [ ]:
class = 'b'

In [ ]:
123_var = 5

In [ ]:
var123 = 5

In [ ]:
first name = 'Moussa'

In [ ]:
first_name = 'Moussa'

In [ ]:
x =1
y =4

In [ ]:
z = x+y

In [ ]:
z

## Printing

In [ ]:
x = 'hello'

In [ ]:
x

In [ ]:
print(x)

In [ ]:
name='John'
print('Hello '+ 'name'+ ' welcome to VADSTI 2.0')

In [ ]:
num=3
name = 'Moussa'

In [ ]:
print('My number is: {one}, and my name is: {two}'.format(one=num, two=name))

## String Methods

In [ ]:
name = 'moussa'

In [ ]:
# Upper()
print(name.upper())

In [ ]:
# Title()
print(name.title())

In [ ]:
last = "Doumbia"

In [ ]:
# lower()
print(last.lower())

In [ ]:
print(last.casefold())

In [ ]:
text = 'I am learning Python'

In [ ]:
# Center: Print the text, taking up the 60 characters with text in the middle
print(text.center(60))

In [ ]:
# Count
print(name.count('s'))

In [ ]:
print(text.endswith('n'))

In [ ]:
print(text.endswith('p'))

In [ ]:
# Placeholders {}
x='World'
y = 'Moussa Doumbia'

In [ ]:
print('Hello {}!, My name is {}'.format(x,y))

In [ ]:
num = '1234'

In [ ]:
# isnumeric()
print(num.isnumeric())

In [ ]:
# Strip
s = '     space   '

In [ ]:
len(s)

In [ ]:
s1 = s.strip()
len(s1)

In [ ]:
left = s.lstrip()
len(left)

In [ ]:
right = s.rstrip()
len(right)

## List
#### Lists are used to store multiple items in a single variable. They are created using square brackets

In [ ]:
a_list = ['Data','plus','progamming','plus','statistics and linear algebra','equal', 'data science']

In [ ]:
print(a_list)

## Access List elements

In [66]:
my_list = [ 'C', 'C++', 'Java','JavaScript','Python', 'Ruby','SQL', 'Swift']

In [67]:
my_list[0]

'C'

In [68]:
my_list[2:4]

['Java', 'JavaScript']

In [69]:
## Change list elements
my_list[-1] ='Pascal'

In [70]:
my_list

['C', 'C++', 'Java', 'JavaScript', 'Python', 'Ruby', 'SQL', 'Pascal']

In [71]:
## Add element to an list
my_list.append('Swift')

In [72]:
my_list

['C', 'C++', 'Java', 'JavaScript', 'Python', 'Ruby', 'SQL', 'Pascal', 'Swift']

In [73]:
## Remove element from a list
my_list.remove('Pascal')
my_list

['C', 'C++', 'Java', 'JavaScript', 'Python', 'Ruby', 'SQL', 'Swift']

In [74]:
## Rmove using index of a list item
my_list.pop(2)
my_list

['C', 'C++', 'JavaScript', 'Python', 'Ruby', 'SQL', 'Swift']

In [79]:
my_list[0] = 'VB'
my_list

['VB', 'C++', 'JavaScript', 'Python', 'Ruby', 'SQL', 'Swift']

In [75]:
## Sort a list
a_list = ['Howard','Morgan', 'Hampton', 'Morehouse','Clark','Alcorn','Spelman','Bowie']

In [76]:
a_list.sort()

In [77]:
## Copy a list
b_list = a_list.copy()

In [78]:
b_list

['Alcorn',
 'Bowie',
 'Clark',
 'Hampton',
 'Howard',
 'Morehouse',
 'Morgan',
 'Spelman']

In [ ]:
## Join Lists
print(my_list+a_list)

## Dictionanies
#### Dictionaies are used to store key:value pairs separated by commat inside curly brackets {}

In [ ]:
d = {'key1':'value1', 'key2':'value2', 'key2':'0'}

In [ ]:
cars_dict = {'make':'Toyota','model':'Land Cruisser', 'year':'2022', 'mileage':'150'}

In [ ]:
cars_dict['make']

In [ ]:
## Change item in a dictionary
cars_dict['year'] = 2021

In [ ]:
cars_dict

In [ ]:
## Adding item
cars_dict['color'] = 'black'

In [ ]:
print(cars_dict)

In [ ]:
## Remove items
cars_dict.pop('color')

In [ ]:
cars_dict

In [ ]:
## Copy dictionary
cars = cars_dict.copy()
cars

## Booleans
#### We you compare two or more values in Python, the expression is evaluated and Python returns the Boolian as the answer

In [ ]:
10 >3

In [ ]:
print((10>3)|(1>5)) # or operator

In [ ]:
print((10>3)&(1>5)) # and operator

## Tuples
#### Tuples are unmutable

In [ ]:
my_tuple = ('user_id', 'password','secret_question')

In [ ]:
a,b,c=my_tuple

In [ ]:
a

In [ ]:
my_tuple[0]

In [ ]:
my_tuple[0]='user_name'

In [ ]:
legumes = ('pineaple','strawberry','blackberry','cucomber','slad')

In [ ]:
(one, *two, three) = legumes

In [ ]:
print(two)

In [ ]:
print(three)

In [ ]:
print(one)

## Sets

In [ ]:
S = {1,2,2,2,2,3,3,4,5,6,6,7,8,9}

In [ ]:
S

In [ ]:
a_set={1,2,'hello','hello','True','True','False','False','False'}

In [ ]:
a_set

In [ ]:
even_set = set((2,4,6,8)) ## Double parenthesis

In [ ]:
even_set

## Basic Operations

* Comparison

In [ ]:
1 >3

In [ ]:
5>=5

In [ ]:
1 == 1

In [ ]:
'Hi' == 'Bye'

* Logical Operators

In [ ]:
(1>3) or (7>4)

In [ ]:
(1>3) | (7>4)

In [ ]:
(1>3) and (7>4)

## if, elif, else statements

* if statements

In [ ]:
if True == False:
    print('Yep!')

In [ ]:
if True:
    print('Yep!')

In [ ]:
if 2<=5:
    print('Yep!')

## Input

In [ ]:
a_string = input('What is your name? ')

In [ ]:
print('Welcome', a_string,'!')

In [ ]:
num = int(input('Enter your ticket number '))
print('The seat for ticket', num, 'is at the front')

* elif statements

In [62]:
emp_names = ['John','Josh','Mia','Nia',"David"]

In [63]:
name = 'Jones'

In [64]:
if name == 'John' or name == 'Josh' or name == 'Mia' or name =='Nia' or name == 'David':
    print('Employee')
else:
    print('Not an employee')

Not an employee

In [65]:
# Best way
if name in emp_names:
    print("Employee")
else:
    print('Not an employee')

Not an employee

In [ ]:
n1 = input('Enter a real number ')
n2 = input('Enter another real number ')
m = n1 if n1>n2 else n2
print('The maximum of the two numbers are:', m)

In [ ]:
# Maximum of two numbers
n1 = input('Enter a real number ')
n2 = input('Enter another real number ')
if n1>n2:
    m = n1
else:
    m = n2
print('The maximum of the two numbers are:', m)

In [ ]:
# Factorial of a number
n = int(input('Enter a positive integer: '))
p = 1
i = 1
while i <= n:
    p *= i
    i += 1
print('The factorial of ', n, 'is', p)

* else statements

In [ ]:
max = 0
num1 = float(input('Please enter first number: '))
num2 = float(input('Please enter second number: '))
num3 = float(input('Please enter third number: '))
if (num1 > num2) and (num1 > num3):
    max = num1
    print('You are in the if-block')
elif (num2 > num1) and (num2 > num3):
    print('You are in elif-block')
    max = num2
else:
    print('You are in the else block')
    max = num3
print('The maximum is ',max)
print('Thank you!')

## For Loops

In [ ]:
seq = [1,2,3,4,5,6,7,8,9]
for num in seq:
    print(num*num)

In [ ]:
for i in range(1,10,1):
    print(('*'*i).center(0))

In [ ]:
for num in seq:
    print(('Hi'*num).center(80))

In [ ]:
for idx, lang in enumerate(my_list):
    print('Index of {} is {}'.format(lang, idx))

In [ ]:
name_gpa = {'Jon':4.0,'Malik':3.8,'Bertrum':3.1,'Sean':3.6,'Jennifer':3.9,'Alexa':3.5,'Ralph':3.2}

In [ ]:
name_list = []
for name, gpa in name_gpa.items():
    if gpa>=3.5:
        name_list.append(name)
print(name_list)

In [ ]:
m_string = 'ABC'
for i in m_string:
        for j in m_string:
            if i != j:
                for k in m_string:
                    if i!=j and j !=k:
                        print(i,j,k)

## WHile Loop

In [ ]:
i=1
while i <=10:
    print('Hello World!')
    i = i+1
print('Out of while loop')
print('When value of i is: ', i)

In [ ]:
n = int(input("Enter a number: "))
print('Factors of ', n, 'are',1, end=',')
i=2
count = 2
while i <= n//2:
    if n%i == 0:
        print(i, end=',')
#         sum = sum+i
#         count += 1
    i += 1
print(n)
# print('Sum of the factors of ',n, 'is', sum)
# print('The number of factors of',n, 'is', count)

In [ ]:
n = int(input("Enter a number: "))
print('Factors of ', n, 'are', 1, end=' ')
i=2
sum = 1+n
while i <= n//2:
    if n%i == 0:
        print(i, end=' ')
    i += 1
print(n)
# print('Sum of the factors of ',n, 'is', sum)
# print('The number of factors of',n, 'is', count)

## List Comprehension

Let considere the following for loop

In [2]:
seq = [1,2,3,4,5,6,7,8,9]
for i in seq:
    print(i**2)

1
4
9
16
25
36
49
64
81

In [4]:
sqr_list = []
for i in seq:
    sqr_list.append(i**2)
print(sqr_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
# List comprehension method
[i**2 for i in seq]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## Saving Memory with Generator, using list comprehension

In [48]:
import sys

In [53]:
a_list = [i**2 for i in range(100000)]
print(sys.getsizeof(a_list),'bites')

824456 bites

In [56]:
a_list[0:4]

[0, 1, 4, 9]

In [50]:
a_gen = (i**2 for i in range(100000))
print(sys.getsizeof(a_gen),'bites')

112 bites

In [6]:
def my_function(param='default'):
    '''
    The role of the function goes here
    '''
    print(param)

In [7]:
my_function

In [8]:
my_function()

default

In [9]:
my_function('Hello!')

Hello!

In [42]:
def sec_funct(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]

In [43]:
sec_funct('Mia')

'M'

## Loval Variable

When you declare variables inside a function definition, they are not related in any way to other variables with the same names used outside the function - i.e. variable names are local to the function. This is called the scope of the variable. All variables have the scope of the block they are declared in starting from the point of definition of the name.

Example:

In [24]:
x = 3
def func(x):
    print('x is ', x)
    x = 43
    print('Changed local x to ', x)
func(x)
print('x is still ', x)

x is  3
Changed local x to  43
x is still  3

## The global statement
If you want to assign a value to a name defined at the top level of the program (i.e. not inside any kind of scope such as functions or classes), then you have to tell Python that the name is not local, but it is global. We do this using the global statement. It is impossible to assign a value to a variable defined outside a function without the global statement.

You can use the values of such variables defined outside the function (assuming there is no variable with the same name within the function). However, this is not encouraged and should be avoided since it becomes unclear to the reader of the program as to where that variable’s definition is. Using the global statement makes it amply clear that the variable is defined in an outermost block.

Example:

In [25]:
x = 50

def func():
    global x
    print('This function is now using the global x!')
    print('Because of global x is: ', x)
    x = 2
    print('Ran func(), changed global x to', x)

print('Before calling func(), x is: ', x)
func()
print('Value of x (outside of func()) is: ', x)

Before calling func(), x is:  50
This function is now using the global x!
Because of global x is:  50
Ran func(), changed global x to 2
Value of x (outside of func()) is:  2

In [ ]:
n = int(input('Enter a number: '))
print('The number of factors are ', end = ' ')
num = 2
while num <= n//2:
    if n % num == 0:
        print(num, end = ' ')
    num += 1
print(n)

In [16]:
def reverse_function(val):
    new_val = ""
    for char in str(val):
        new_val = char + new_val
    return new_val

In [20]:
reverse_function('HARPO')

'OPRAH'

In [21]:
reverse_function('YOB')

'BOY'

In [22]:
reverse_function('YENSID')

'DISNEY'

In [23]:
reverse_function('ASU')

'USA'

In [45]:
num_list = [2,-3,5,-11,7,10]

In [46]:
for i in range(len(num_list)):
    if num_list[i] < 0:
        num_list[i] = 0
print(num_list)

[2, 0, 5, 0, 7, 10]

In [47]:
# Using enumerate
for idx, num in enumerate(num_list):
    if num < 0:
        num_list[idx] = 0
print(num_list)

[2, 0, 5, 0, 7, 10]

##   *args and  *kwargs
Work with Python long enough, and eventually you will encounter *args and **kwargs. These strange terms show up as parameters in function definitions. What do they do? Let's review a simple function:

In [27]:
def myfunc(a,b):
    return sum((a,b))**.5

myfunc(40,60)

10.0

This function returns the square root of the sum of a and b. In this example, a and b are positional arguments; that is, 40 is assigned to a because it is the first argument, and 60 to b. Notice also that to work with multiple positional arguments in the sum() function we had to pass them in as a tuple.

What if we want to work with more than two numbers? One way would be to assign a lot of parameters, and give each one a default value.

In [30]:
def myfunc(a=0,b=0,c=0,d=0,e=0):
    return sum((a,b,c,d,e))**.5

myfunc(40,60,44)

12.0

Obviously this is not a very efficient solution, and that's where *args comes in.

## *args
When a function parameter starts with an asterisk, it allows for an arbitrary number of arguments, and the function takes them in as a tuple of values. Rewriting the above function:

In [34]:
def myfunc(*args):
    return sum(args)**.5

myfunc(40,60,44)

12.0

##  **kwargs
Similarly, Python offers a way to handle arbitrary numbers of keyworded arguments. Instead of creating a tuple of values, **kwargs builds a dictionary of key/value pairs. For example:

## Lambda Expression

In [10]:
def times3(num):
    return num*3

In [12]:
times3(3)

9

In [17]:
lambda num: num*3

In [31]:
three_times = lambda num: num*3

In [32]:
three_times(5)

15

## Lambda, map, filter

In [14]:
map(times3, seq)

In [15]:
list(map(times3, seq))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [18]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [19]:
filter(lambda num: num%2==0, seq)

In [20]:
list(filter(lambda num: num%2==0, seq))

[2, 4, 6, 8]

In [25]:
name_gpa  = {'Mike':4.0,'Tom':3.2,'Mia':3.9,'Sean':3.7, 'Alexa':4.0}

In [26]:
name_list = []
for name, gpa in name_gpa.items():
    if gpa > 3.7:
        name_list.append(name)
print(name_list)

['Mike', 'Mia', 'Alexa']

In [29]:
simple_way  = [name for name, gpa in name_gpa.items() if gpa > 3.7]

In [30]:
simple_way

['Mike', 'Mia', 'Alexa']